body {
    font-family: cursive;
    padding: 12px;
    background: white
}

#page-title {
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    padding-bottom: 10px;
    padding-top: 5px;
    /* text color gradient from https://welearncode.com/rainbow-text/#:~:text=reading%20the%20page.-,Rainbow%20Gradient,-The%20third%20method */
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #43a047, #f9a825, #ff5722);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* putting in flex so the images distribute across the page */
#content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

/* making the buttons */
button {
    background: transparent;
    padding: 1px;
    cursor: pointer;
    margin: 3px;
    border-radius: 12px;
}

button img {
    display: block;
    border-radius: 10px;
    border: 4px solid transparent; /* Prevents shifting */
    box-sizing: border-box;
}
/* cursor changes to click when over a clickable image */
.button:hover,
.button:focus,

.button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 5px;
}

.button img {
    display: block;
    border-radius: 10px;
}
/* asked chatGPT how to add a signifier that that image was selected */
    /* Active state styling */
.button.active img {
    border: 4px solid #ff69b4;
    /* Highlight with a pink border */
}

/* different font for the text */
#outputTitle {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 5px;
}

#outputDescription {
    font-family: 'Nunito', sans-serif;
    margin-top: 0;
}